Repository pennylane-hq/pre-commit-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: local_hooks, actionlint

local_hooks:
  name: All hooks are ran
  language: ruby
  entry: ./check_up_to_date.rb
  pass_filenames: false

actionlint:
  name: Lint github workflows
  language: golang
  additional_dependencies:
  - github.com/rhysd/actionlint/cmd/actionlint@v1.6.25
  entry: ./.pre-commit/actionlint_wrapper.sh

Use docker image
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .pre-commit/actionlint_wrapper.sh
  actionlint/actionlint.sh
Due: local_hooks

.
  .pre-commit/actionlint_wrapper.sh
Due: none

Fix actionlint hook (#2)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  actionlint/actionlint.sh
Due: local_hooks

Add hadolint check
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  ltex/Dockerfile
Due: local_hooks

Add hadolint check (#3)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  ltex/Dockerfile
Due: local_hooks

bump actionlint version from 1.6.26 to 1.6.27
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks

bump actionlint version from 1.6.26 to 1.6.27 (#4)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks

Silence annoying ltex error on no error
  .pre-commit-config.yaml
  ltex/ltex.sh
Due: local_hooks

Silence annoying ltex error on no error (#5)
  .pre-commit-config.yaml
  ltex/ltex.sh
Due: local_hooks

bump actionlint
  .pre-commit-config.yaml
Due: local_hooks

bump action and bump actionlint
  .github/workflows/test.yml
  .pre-commit-hooks.yaml
Due: local_hooks, actionlint

Bump actionlint (#6)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks, actionlint

allow yaml files as well when linting actions
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks

allow yaml files as well when linting actions (#7)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks

check hadolint
  .pre-commit-hooks.yaml
Due: local_hooks

using another version
  .pre-commit-hooks.yaml
Due: local_hooks

Fix ltex Docker image loading with buildx docker-container driver
  ltex/ltex.sh
Due: none

Fix ltex Docker image loading with buildx docker-container driver (#9)
  ltex/ltex.sh
Due: none

bump actionlint to 1.7.12
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks

Bump actionlint to 1.7.12 (#10)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks

Bump actionlint
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks, actionlint

Bump actionlint (#11)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: local_hooks, actionlint

Path conditions:
  local_hooks: any of: ^.pre-commit-(config|hooks)\.yaml$
  actionlint: any of: ^\.github/workflows/.*\.yml
